# Loadiine GX2 - Main settings file v1
GameViewModeTv=0
GameViewModeDrc=2
GameLaunchMethod=0
GamePath=sd:/wiiu/games
GameSavePath=sd:/wiiu/saves
GameLogServer=0
GameLogServerIp=0.0.0.0
GameSaveMode=0
BgMusicPath=
GameCover3DPath=sd:/wiiu/apps/loadiine_gx2/covers3d
ConsoleRegionCode=EN
AppLanguage=
DebugLoggerIP=192.168.178.3
GameStartIndex=0
PadconMode=0
LaunchPyGecko=0
